<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Log Pattern 정의 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %cyan(%logger) - %msg%n"/>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/app/logs/application.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Custom Kafka Appender 설정 -->
    <appender name="CUSTOM_KAFKA" class="com.tripcok.tripcokserver.global.kafka.CustomKafkaAppender">
        <kafkaBootstrapServers>${KAFKA_BOOTSTRAP_SERVERS}</kafkaBootstrapServers>
        <maxRetries>3</maxRetries>  <!-- 최대 재시도 횟수 -->
    </appender>

    <!-- Kafka로 보내는 로그 설정 -->
    <logger name="com.tripcok.tripcokserver.global.interceptor.KafkaLogger" level="INFO">
        <appender-ref ref="CUSTOM_KAFKA"/>
    </logger>

    <!-- 일반 로그 설정 -->
    <logger name="com.tripcok.tripcokserver.global.interceptor" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 루트 로그 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>