* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    min-width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 !important;
    display: flex;
    flex-direction: row;

}

.navigation-container {

    padding: 50px 15px;
    width: 15%;
    height: 100vh;
    background-color: #6DB777;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
}

.link-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    cursor: pointer;
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.menu-item > i {
    font-size: 20px;
    line-height: 20px;
}

.menu-item > p {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.logout-item {
    margin-top: auto;
}

.content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px 15px;
    overflow: hidden;
}

.content-header {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.content-header h1 {
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

.logo-container > p {
    font-size: 20px;
}

.content-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-search > div {
    padding: 5px 10px;
    border-bottom: 4px solid #6DB777;
}

.content-search p {
    font-size: 16px;
    font-weight: bold;
}

/* 카테고리 선택 드롭다운 */
.categorySelect {
    outline: none;
    border: 3px solid #6DB777;
    border-radius: 10px;
    width: 450px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #A0A0A0;
    transition: 0.3s border ease-in-out;
}

.categorySelect:focus {
    border: 3px solid #6DB777;
}

/* 검색 필드 */
.searchInput {
    outline: none;
    border: 3px solid #6DB777;
    border-radius: 10px;
    height: 40px;
    width: 450px;
    padding: 10px 15px;
    font-size: 16px;
    color: #A0A0A0;
    transition: 0.3s border ease-in-out;
}

.searchInput:focus {
    border: 3px solid #6DB777;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #6DB777;
    color: white;
    font-weight: bold;
}

/* 버튼 */
.add-button {
    width: 170px;
    height: 40px;
    background-color: rgba(109, 183, 119, 0.3);
    border: 3px solid #6DB777;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #6DB777;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.add-button:hover {
    background-color: #6DB777;
    color: #fff;
}

/* 페이지 */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    background-color: rgba(109, 183, 119, 0.3);
    border: 1px solid #6DB777;
    padding: 5px 10px;
    font-size: 15px;
    color: #6DB777;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button:hover {
    background-color: #6DB777;
    color: #fff;
}

.number-button-wrapper {
    padding: 5px 10px;
    font-size: 15px;
    color: #6DB777;
}

